.container-vefify-email {
    .heading {
        height: 80px;
        align-items: center;
        display: flex;
        .left {
            i {
                color: #2474e5;
                font-size: 22px;
                margin-right: 5px;
            }
    
            span {
                font-size: 22px;
                text-transform: uppercase;
                color: #2474e5;
                font-weight: 600;
            }
        }
    }
    .content {
        background-color: #f5f5f5;
        min-height: 100vh;
        padding-top: 15px;
        .back {
            color: #999b9f;
            cursor: pointer;
            i {
                margin-right: 8px;
                font-size: 20px;
            }

            span {
                font-size: 20px;
                font-weight: 500;
            }

            &:hover {
                color: black;
            }
        }

        .center {
            margin-top: 50px;
            margin-left: 100px;

            .verify {
                display: flex;
                flex-direction: column;
                width: 400px;
                .title {
                    margin-top: 20px;


                }

                input {
                    outline: none;
                    border: 1px solid  #f0b90b;
                    padding: 10px;
                    border-radius: 4px;
                    margin: 5px 0;
                }

                .description {
                    margin-top: 10px;
                    font-size: 14px;
                }

                button {
                    margin-top: 15px;
                    border: none;
                    padding: 10px 0;
                    border-radius: 6px;
                }
            }
        }
    }
}