.header-homepage-container {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;

    .content-home-header {
        display: flex;
        justify-content: space-between;

        .left {
            i {
                color: #2474e5;
                font-size: 22px;
                margin-right: 5px;
            }

            span {
                font-size: 22px;
                text-transform: uppercase;
                color: #2474e5;
                font-weight: 600;
            }
        }

        .center {
            padding-top: 5px;
            ul {
                display: flex;
                list-style: none;
                margin-right: 500px;

                li {
                    color: #000;
                    font-weight: 500;
                    margin-right: 25px;
                    cursor: pointer;
                }
            }
        }
        .right {
            display: flex;

            .language {
                padding-top: 5px;
                margin-right: 15px;
                font-size: 16px;
                cursor: pointer;
            }

            .hotline {
                display: flex;
                align-items: center;
                margin: 0 20px;
                padding: 4px 12px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                color: rgb(13, 46, 89);
                margin-bottom: 12px;

                i {
                    font-size: 13px;
                    margin-right: 4px;
                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                }
            }

            .information {
                padding-top: 5px;
                margin-left: 10px;
                a {
                    color: black;
                    text-decoration: none;
                }
                .log-in {
                    padding-right: 6px;
                    border-right: 1px solid rgb(208, 208, 208);
                    font-weight: 500;
                    font-size: 16px;
                }

                .register {
                    padding-left: 6px;
                    color: black;
                    font-weight: 500;
                    font-size: 16px;

                }   
            }

            .user {
                cursor: pointer;
                position: relative;
                i {
                    margin-right: 5px;
                    border-radius: 50%;
                    border: 1px solid black;
                    padding: 4px;
                    font-size: 15px;
                }

                &:hover {
                    .drop {
                        visibility: visible;
                    }
                }
                .drop {

                    position: absolute;
                    background-color: white;
                    display: flex;
                    visibility: hidden;
                    flex-direction: column;
                    z-index: 5;
                    width: 120px;
                    font-size: 14px;
                    border-radius: 3px;
                    padding: 6px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                    span {
                        &:hover {
                            color: #2377ed;
                        }
                    }
                }
            }
        }
    }
}