.profile-content {
    min-height: 100vh;
    .heading {
        display: flex;
        justify-content: space-between;

        button {
            height: 50px;
        }
    }

    .content-list {
        .item {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            label {
                margin-left: 8px;
                color: rgba(85,85,85,.8);
            }
            input {
                padding: 6px 10px;
                margin-top: 6px;
                width: 100%;
                margin-left: 10px;
            }
        }

        .submit {
            margin-top: 10px;
            margin-left: 8px;
            button {
                margin-right: 10px;
            }
        }

        .avatar {
            .avatar-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                align-content: center;
                .avatar-icon {
                    color: #fff;
                    background-color: #d3d6db;
                    border-radius: 50%;
                    font-size: 70px;
                    padding: 25px 30px;
                    margin-top: 15px;
                }

                .image-avatar {
                    margin-top: 20px;
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            label {
                width: 100px;
                border: 1px solid #e8e8e8;
                padding: 6px 15px;
                margin-top: 10px;
                cursor: pointer;
            }
        }
    }

}
.modal-update-password {
    .item {
        label {
            width: 100%;
            margin-top: 8px;
        }

        input {
            width: 100%;
            border: 1px solid gray;
            border-radius: 4px;
            padding: 6px 10px;
            margin: 5px 0;
        }
    }
}